<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>COVID Detection</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/styles.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md navbar navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div
                class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="/">About</a></li>
                    <li class="nav-item nav-link js-scroll-trigger" role="presentation"><a class="nav-link js-scroll-trigger" href="/#predict">PREDICT</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <header class="masthead" style="background: linear-gradient(rgba(0,0,0,0.76) 100%, rgba(0,0,0,0.95) 100%), url(static/img/artificial.jpg) center / cover no-repeat;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading" style="font-size: 40PX;font-family: Poppins, sans-serif;text-align: center;">UPLOAD AN IMAGE (JPG)</h1>
                        <p class="intro-text" style="font-family: Roboto, sans-serif;font-size: 15px;"></p>
                    </div>
                </div>
    <form action = "/predict" method="POST" enctype="multipart/form-data">
        <input type = "file" name="file" accept="image/jpeg,image/jpg" class="btn btn-default" style="font-family: Poppins, sans-serif;"/>
        <input type = "submit" class="btn btn-primary btn-lg btn-default" style="font-family: Poppins, sans-serif;"/>
    </form>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 style="font-family: Poppins, sans-serif;font-size: 43px;">LEARN MORE</h2>
                    <p style="font-family: Roboto, sans-serif;font-size: 15px;">Feel free to explore the notebook which contains all the project development, there you will find relevant tasks such as image transformation and model training.</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;<button class="btn btn-primary btn-lg btn-default" type="button" style="font-family: Poppins, sans-serif;" role="link" onclick="window.location='https://www.kaggle.com/sergiovirahonda/covid-rx-exploration?scriptVersionId=55857022'"><i class="fa fa-github fa-fw"></i><span class="network-name">&nbsp;github</span></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    <footer>
        <div class="container text-center">
            <p style="font-family: Poppins, sans-serif;font-size: 15px;">Copyright ©&nbsp;Sergio Virahonda - 2020</p>
        </div>
    </footer>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="static/js/script.min.js"></script>
</body>

</html>